{% extends "djimporter/base.html" %}
{% load i18n %}

{% block content %}

        <div class="container mt-5">
          <span class="h2">{% trans subtitle %}</span> <span class="h3 text-muted" style="padding-left: 20px;">{{ object.input_file }}</span>
          <hr />
          <div class="row border-bottom">
            <div class="col-3">
                {% trans 'Created' %}
            </div>
            <div class="col-3">
                {% trans 'File' %}
            </div>
            <div class="col-2">
                {% trans 'User' %}
            </div>
            <div class="col-2">
                {% trans 'Status' %}
            </div>
            <div class="col-2">
                {% trans 'Num Rows' %}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-3">
                {{ object.created_at }}
            </div>
            <div class="col-3">
                {{ object.concept }}
            </div>
            <div class="col-2">
                {{ object.user  }}
            </div>
            <div class="col-2">
                {{ object.status }}
            </div>
            <div class="col-2">
                {{ object.num_rows}}
            </div>
          </div>
          {% if object.list_errors %}
          <div class="row-fluid p-3 pt-5">
            <div class="col-12">
              <div>
                <table class="table table-hover table-striped">
                  <caption>This is the names of the columns that should appear in the file</caption>
                  <thead>
                    <th scope="col">#</th>
                    {% for name in object.get_header %}
                    <th scope="col">{{ name }}</th>
                    {% endfor %}
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row-fluid border border-dark rounded p-3 pt-5 mt-3">
            <div class="col-12">
              <div>
                <h3>Errors for <strong>{{ object.input_file }}</strong></h3>
                <table class="table table-hover table-striped">
                  <caption>Errors found in the validated file</caption>
                  <thead>
                    <th scope="col">#</th>
                    <th scope="col">line</th>
                    <th scope="col">field</th>
                    <th scope="col">error</th>
                  </thead>
                  <tbody>
                    {% for error in object.list_errors %}
                      {% for field, details in error.error.items %}
                    <tr>
                      <td class="align-middle">{{ forloop.parentloop.counter }}</td>
                      <td class="align-middle">{{ error.line }}</td>
                      <td class="align-middle">{{ field }}</td>
                      <td>{{ details }}</td>
                    </tr>
                      {% endfor %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            {% endif %}
        </div><!-- /.row-fluid -->

{% endblock %}
